/* across site styling */

.body-overflowhidden  {
    
overflow:hidden;
}

.overflowshow {
    overflow: scroll;
}

.navbar  {
   text-align:center;
    
}
.navbar-inverse .navbar-nav>li>a  {
 color:#fff;
  
}

.nav  {
    height:45px;
    margin-left:60px;
}

.navbar-main {
    clear:bottom;
    height:51px;
    margin-bottom:10px;
    text-transform:uppercase;
}

.homepage-link {
    
   color:#CD0000 !important;
}
/*about page*/

.about-active
{
    background:url(./images/sequins.jpg); background-size:cover;text-transform:uppercase;
}

.about-li-fontcolor {
    color:white;
}

.about-h2 {
    margin-top:20px; color:#8B008B;
}

.navbar-about {
    
    background-color:#F2895A; 
    opacity:0.9; 
    padding:0 0 20px 0; 
    background-size:cover;
}

/*Alternating Colors for about Navbar tabs */
.navbar-plum {
    background-color: #F08252;
}

.navbar-pink {
    background-color: #F06C63;
    
}/*End of Alternating Colors for Navbar */


/* Class to make responsive embed video not take up full screen*/
.container-vid {
  width: 700px;
}

.container-about {
    margin-top:2px;
    text-align: center;
    border-top:2px solid black;
}

.aboutbody {
    
    height: 100%;
    background:url(./images/orangecloth.jpg) no-repeat center center;
    background-size:cover;
}

.jumbotron-about {
     height: 100vh;
    background:url(./images/orangecloth.jpg) no-repeat center center;
    background-size:cover;
}

.jumbotron {
    margin:0;
}

/* End of about page css */

/*contact us modal*/

input-group[text]{
    padding: 10px;
    background-color: green;
}

.col-md-4-cf h2 {
    text-align: center;
    color: orange;
}
/* End contact us Form css */





/*subway page*/

.navbar-subway {
  background-color:#94C9EE;
  background-image: none;
  background-repeat: no-repeat;
  
}

#bill {
    width: 100px;
    height: auto;
}

.navbar-inverse a {
    color:white;
}
 
 /* quotes page*/
 
 .navbar-quotes {
  background-color: #FB1A3A;
  background-image: none;
  background-repeat: no-repeat;
 }



/*index or home page*/


.irismain {
    text-align:center;
    float:right;
}

body {
    text-align:center;
}

.irismain img {
    margin-top: 40px;
    position:relative;
width: 200px;
    height: auto;
    z-index:1;
}

.carousel {
    margin:0 !important;
height: 100%;
}

#myCarousel,
.item,
.active {
    height: 100%;
    
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */
/* Didn't Cira say we cannot have inline CSS? */
/* i will move it all over --elise*/
.fill {
    margin-top:50px;
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.accessories {
    width:100%;
    height:400px;
    
}

html,body{
   height:100%;
}



.accessories img {
    z-index:1;
    position:relative;
    float:left;
}

/*quotes*/
.h1quotes {
	font-family:'Russo One', sans-serif;
	font-size: 34px;
	margin-left: 25px;
	color: #4e4e55;
	margin-top:80px;
}



button:hover{
	opacity: .75;
}

a{
	color: #000;
}

/*Changed - Quotes now to right of picture background on page*/
#quotes{
	position: fixed;
	right: 100px;
  width: 400px;
  margin: 0 auto;
	font-family: 'Amatic SC', monospace;
	font-size: 30px;
	/*
	top: 30px;
	margin:0 auto;
	color: #009;
	width:85%;
	text-align:center;
	margin-top:-10px;*/
}

.quotesbody {
    	/*background-color: #FFA500; Changed background to an image from a solid color*/
	background-image: url("./images/irissketch.jpg");
	background-size: 50%;
	background-repeat: no-repeat;
	text-align:center;
}
.quotes {
    position:relative;
  display: none;
    color: #8B008B;
    font-family: Arial;
    font-size:30px;   
    margin: 80 auto;
  
}

@media (max-width: 600px) {
            .row {
                width:100%;
            }
            
            
            #quotes {
              
              margin:0 auto;
              width:200px;
              
            }
            body {
              
              background:url(./images/orangecloth.jpg) no-repeat center center;
              background-size:cover;
              overflow-y:auto;
            }
            
        }

h2: hover, a:hover {
    text-decoration: none;
    color:green;
    
}

/*textiles aka paris page*/

/*paris page */


.container-textiletext {
    margin:40px auto;
    background-color:#7ACCEF;
}
.textiletext {
    color:#68100F;
    line-height:40px;
}

.parisbody {
    background:url(./images/textile6.jpg); 
    background-size:cover; 
    /*overflow:hidden; */
    opacity:0.9;
    text-align:center;
}
 
 .navbar-paris {
  background-color: #FF5659;
  background-image: none;
  background-repeat: no-repeat;
 }
 
 .parisheader {
     text-align:center; margin-top:50px;
 }
 
 .paris-h2 {
     color:#6BC9F2; font-size:40px; font-family:Arial;
 }

.col-md-4 {
 height:200px;   
 width:300px;
 z-index:1;
 margin-top:5px;
 margin-left:20px;
 text-align: center;

}

/*.row {*/
    
/*    margin-left:110px;*/
/*}*/

.container-paris {
    margin: auto;
    max-width:1000px;
}


 @media (max-width: 800px) {
            
            body {
                
                overflow:scroll;
            }
            .navbar li {
                
                background-color:#F0F8FF;
            }
            
            
            .col-md-4 {
                margin:0;
            width:100%;
            }
            
        
        
        }


.col-md-4 h2  {
    margin-top:100px;
    color:#6BC9F2;
    z-index:1;
}




/*End message about needing to make unique named elements so they won't interfere with other pgs using these elements*/



/* Blog CSS*/
#blogcontainer {
  width: 100%;
  margin: auto;
}

#blogcontainer > div {
  -webkit-box-shadow: 0 4px 15px -5px #555;
  box-shadow: 0 4px 15px -5px #555;
  background-color: #fff;
  width: 500px;
  padding: 2px;
  margin: 5px;
}

#blogcontainer > div img {
  padding: 0px;
  display: block;
  width: 100%;
}

/* End Blog css */




/*media queries*/


@media (max-width: 768px) {
.navbar li {
                
                background-color:#F0F8FF;
            }
            
            .body-overflowhidden {
                overflow-y: scroll;
            }
       }


@media(max-width:1000px)  {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .collapse.in {
      display: block !important;
    }

}