/* across site styling */

.body-overflowhidden  {
    
overflow:hidden;
}

.overflowshow {
    overflow: scroll;
}

.navbar  {
   text-align:center;
    
}

.homepage-link {
    
   color:#CD0000 !important;
}

/* -- Why Does the whole site's Body have Text Align Center? ----*/
body {
    text-align:center;
}

/* --- Why is the whole site's HTML and BODY have specific CSS? 
Additionally this is the 2nd Time that Body has been defined in CSS--*/
/*this was probably an experiment i did when i was trying to make the homepage fit to the viewport. obviously i found another solution later on. but regardless, i have seen css stylesheets that define body twice. when some css properties apply only to body but other css properties apply to both both and another html element, i have seen the same css selector used more than once. */
html,body{
   height:100%;
}

.modalh2 {
    color:#6BC9F2;
     font-size:40px; 
     font-family:Arial;
     margin-top:50px;
     
}


/* ----- ABOUT page CSS -------*/

.jumbotron-about {
    background-color: #49A5A2;
}

.navbar-about {
    background-color:#A5D19A;
    font-size: 15px;
    
}


.body-about {
    background:url(../images/orangecloth.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
/*------- ABOUT page CSS End*/

/* ---- MODAL Contact US CSS Start ---------*/

input-group[text]{
    padding: 10px;
    background-color: green;
}

.col-md-4-cf h2 {
    text-align: center;
    color: orange;
}
/* -------MODAL Contact Us CSS END ------ */

 
 


/*------Subway/NY Page CSS START -------*/
/*subway page*/

.subwaymap {
    background: url('../images/subway.jpg') fixed no-repeat center center; 
    width:100%; 
    height:1200px;
}

.navbar-subway {
  background-color:#94C9EE;
  background-image: none;
  background-repeat: no-repeat;
  
}

.irismain {
    text-align:center;
    float:right;
    z-index:1;
}

#iris {
    width:200px; height:auto;
}

#bill {
    width:100px; height:auto;
}

.subwaygamebutton {
    color:#FF002E; background-color:#9ADDB5;
}


#buttonsubway {
    
    background-color:#AF1E9B;
}


.irismain img {
    margin-top: 40px;
    position:relative;
width: 200px;
    height: auto;
    z-index:1;
}

/*index or homepage*/

.carousel {
    margin:0 !important;
    height: 100%;
}

#myCarousel,
.item,
.active {
    height: 100%;
    
}

.carousel-inner {
    height: 100%;
}


.fill {
    margin-top:50px;
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.accessories {
    width:100%;
    height:400px;
    
}

.accessories img {
    z-index:1;
    position:relative;
    float:left;
}

/* ---- Quotes Page CSS Start ---*/
.h1quotes {
	font-family:'Russo One', sans-serif;
	font-size: 34px;
	margin-left: 25px;
	color: #4e4e55;
	margin-top:80px;
}

.navbar-quotes {
  background-color: #11A391;
  font:black;
  background-image: none;
  background-repeat: no-repeat;
 }


button:hover{
	opacity: .75;
}

a{
	color: #000;
}


#quotes{
	/*position: fixed;*/
	float:right;
	margin-right: 16%;
  width: 400px;
  
	font-family: 'Amatic SC', monospace;
	font-size: 30px;
	/*
	top: 30px;
	margin:0 auto;
	color: #009;
	width:85%;
	text-align:center;
	margin-top:-10px;*/
}

.quotesbody {
    	
	background-image: url("../images/irissketch.jpg");
	background-size: 50%;
	background-repeat: no-repeat;
	text-align:center;
}
.quotes {
    position:relative;
  display: none;
    color: #8B008B;
    font-family: Arial;
    font-size:30px;   
    margin: 80 auto;
  
}

@media (max-width: 600px) {
     .row {
       width:100%;
            }
            
     #quotes {
        margin:0 auto;
       width:200px;
              
      }
      .quotesbody {
              
       background-color:white;
       background-size:cover;
       overflow-y:scroll;
    }
            
        }

h2: hover, a:hover {
    text-decoration: none;
    color:green;
    
}

/*textiles aka paris page*/

.lelievrepic {
    
    background:url(../images/fabrics.jpg);
}

.prellepic {
    
    background:url(../images/textile2.jpg)
}
.lemanachpic {
    
    background:url(../images/textile3.jpg); z-index:1;
}
.edmondpetitpic {
    background-size:cover;
    background:url(../images/weave.jpg);
}
.clignacourtpic {
    
   background:url(../images/marche_Dauphine.jpg); 
   background-size:cover;
}
.vanvespic {
    
    background:url(../images/puces.jpg);
}



.container-textiletext {
    width:30%;
    float:left;
    margin-top:50px;
    background-color:#2B4B4C;
}
.textiletext {
    color:white;
    line-height:40px;
}

.textiletext>a {
    color: red;
}

.parisbody {
    background:url(../images/textile6.jpg); 
    background-size:cover; 
    /*overflow:hidden; */
    opacity:0.9;
    text-align:center;
    
}
 
 .parisoverall {
     float:right;
    width:70%;
 }
 .navbar-paris {
  background-color: #FF5659;
 
 }
 
 .parisheader {
     text-align:center; margin-top:50px;
 }
 
 .paris-h2 {
     color:#fff;
     font-size:40px; 
     font-family:Arial;
     margin-top:50px;
     
 }
 
.parish2 {
     /*color:#6BC9F2; */
     color:white;
     font-size:40px; 
     font-family:Arial;
     margin-top:50px;
     font-weight: bold;
 }

.glyphicon-chevron-down {
    
    color: #810511; 
    font-size: 40px; 
}

.thumbnail {
  height: 200px;
    width: 24%;
 z-index:1;
 margin-top:5px;
 margin-left:20px;
 text-align: center;

}


.container-paris {
    margin: auto;
    max-width:1000px;
}





/* Blog CSS*/
#container {
  width: 70%;
  margin: auto;
  margin-top:45px;
  float:right;
}

.container-blogtext {
    text-align:justify;
    background-color:#D3D3D3;
    width:30%;
    float:left;
    margin-top:50px;
    
}

.container-blogtext p {
    color:	#424242;
    margin-top:40px;
    font-size:16px;
}


#container > div {
  -webkit-box-shadow: 0 4px 15px -5px #555;
  box-shadow: 0 4px 15px -5px #555;
  background-color: #fff;
  width: 220px;
  padding: 2px;
  margin: 5px;
}

#container > div img {
  padding: 0px;
  display: block;
  width: 100%;

}


/* End Blog css */


/*media queries*/

@media (max-width: 500px) {
            
            .quotesbody, body {
                
                overflow-y:scroll;
            }
            
            
             #quotes {
                float:right;
	margin-right: 16%;
  width: 75%;
            }
            
            .quotes{
                float:right;
            }
            
            /*.col-md-4 {
                margin:0 auto;
            width:100%;
            }*/
            
            .thumbnail {
            height:200px;
            display:block;
            margin:60px auto;
            width:100%;
        }
        
.row {
                width:80%;
          }

       }
       


/*@media(max-width:1000px)  {*/

/*    .navbar-collapse.collapse {*/
/*        display: none !important;*/
/*    }*/

/*    .navbar-collapse {*/
/*        overflow-x: visible !important;*/
/*    }*/

/*    .navbar-collapse.in {*/
/*      overflow-y: auto !important;*/
/*    }*/

/*    .collapse.in {*/
/*      display: block !important;*/
/*    }*/

/*}*/





.navbar-inverse .navbar-nav>li>a  {
 color:#fff;
  
}

/*.about-active*/
/*{*/
/*    background:url(../images/sequins.jpg); background-size:cover;text-transform:uppercase;*/
/*}*/
/*
.navbar-inverse a {
    color:white;
}

.nav  {
    height:45px;
    margin-left:60px;
}

.navbar-main {
    height:51px;
    margin-bottom:10px;
    text-transform:uppercase;
}
*/

@media (max-width:1000px) {
    
    .quotesbody {
    	overflow-y:scroll !important;
	background: white;
    }
  
   #quotes {
                float:right !important;
  width: 300px;
  text-align:right;
            }
  
   .quotes{
                float:right !important;
                width:60%;
                
            }
  
   body {
    
    overflow-y:scroll;
  }
            
  
.thumbnail {
            height:auto;
            display:block;
            margin:60px auto;
            width:70%;
        }
        
        /*.col-md-4 {
                margin:0 auto;
            width:100%;
            }
        */
  
  .body-overflowhidden {
      overflow-y:scroll;
      
  }

            .row {
                width:80%;
          }
            .img-responsive {
                margin-bottom: 20px;
            }
}
