.navbar-main {
    clear:bottom;
    height:50px;
    margin-bottom:20px;
}

.container-viewport {
    height:100vh;
    width:100vw;
}

.irismain {
    text-align:center;
    float:right;
}

body {
    text-align:center;
}

.irismain img {
    margin-top: 40px;
    position:relative;
width: 200px;
    height: auto;
    z-index:1;
}

#bill {
    width: 100px;
    height: auto;
}



.accessories {
    width:100%;
    height:400px;
    
}

html,body{
   height:100%;
}

.carousel {
    margin:0 !important;
height: 100%;
}

#myCarousel,
.item,
.active {
    height: 100%;
    
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */
/* Didn't Cira say we cannot have inline CSS? */

.fill {
    margin-top:50px;
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.accessories img {
    z-index:1;
    position:relative;
    float:left;
}


/*
#logo {
   margin-top:0px;
   text-align:center;
   color:#CD0000;
}*/




/*These need to be named unique names so it won't interfere with other pgs using these elements*/
h2 {
 
    font-family: Arial;
    font-size:40px;   
    margin:0;
    color:#F51400;
}

/*#quotes{*/
/*	position: relative;*/
/*	top: 30px;*/
/*	left: 25px;*/
/*	font-family: 'Amatic SC', monospace;*/
/*	font-size: 96px;*/
/*	color: #009;*/
/*}*/

/* There are 2 h2 css codes - not sure what these are for */
h2 {
    margin:0;
    color:#f51400;
}
.col-md-4 {
 height:200px;   
 width:300px;
 z-index:1;
 margin-top:10px;
 text-align:center;
 margin-left:70px;
}

.row {
    margin:0 auto;
}
.col-md-4 h2  {
    margin-top:100px;
    color:#6BC9F2;
    z-index:1;
}

h2:hover,a:hover {
    text-decoration: none;
    color:green;
}

.content { width:100%; height:100%; margin:0;  
}
/*End message about needing to make unique named elements so they won't interfere with other pgs using these elements*/



/* Blog CSS*/
#blogcontainer {
  width: 100%;
  margin: auto;
}

#blogcontainer > div {
  -webkit-box-shadow: 0 4px 15px -5px #555;
  box-shadow: 0 4px 15px -5px #555;
  background-color: #fff;
  width: 500px;
  padding: 2px;
  margin: 5px;
}

#blogcontainer > div img {
  padding: 0px;
  display: block;
  width: 100%;
}

/* End Blog css */


/* Contact Form css */
.col-md-4-cf h2 {
    text-align: center;
    color: orange;
}
/* End Form css */

/* About page css */
/* Class to make responsive embed video not take up full screen*/
.container-vid {
  width: 700px;
}

/* Class for the About page jumbotron*/
.jumbotron-about {
    height: 100%;
    margin:0;
    padding:0;
    background:url(./images/orangecloth.jpg) no-repeat center center;
    background-size:cover;
}
/*End Jumbotron-about page info*/
/* End of about page css */


       @media (max-width: 768px) {
            
            .navbar li {
                
                background-color:#F0F8FF;
            }
       }


@media(max-width:1000px)  {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .collapse.in {
      display: block !important;
    }

}
